<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTYD59m0aXAqB9tRoIGEP4Kmtwrz6V6pQ</string>
	<key>GCM_SENDER_ID</key>
	<string>287034324931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prayHarroldSurvey</string>
	<key>PROJECT_ID</key>
	<string>ph-survey-97fbe</string>
	<key>STORAGE_BUCKET</key>
	<string>ph-survey-97fbe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287034324931:ios:6d89e9ca671c359e396f76</string>
</dict>
</plist>